
.col-1 {
    width: 0 auto; 
}

.carousel-caption p{
color: orange;
}

.carousel-caption h5{
    color: orange;
}
.col-2 a{
    color: white; 
    border: solid 10px orange; 
    padding: orange; 
    background-color: orange;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 auto; 
    
}

.col-2 h5{
    border-left: solid 10px orange; 

}
 /* Footer */
 footer {
     background-color: #F77F00; 
     color: white; 
     margin-top: 100px;
 }

 footer a{
     color: white;
 }

 footer ul{
     list-style: none;

 }
 
 .info-container {
     background-color: white;
     border-radius: 20px;
     box-shadow: 0 0 30px rgba(0,0,0,.1);
     padding: 30px;
     margin: 40px; 
 }

 .discount-container {
     background-color: white;
     border-radius: 30px;
     box-shadow: 0 0 30px rgba(0,0,0,.1);
     padding: 30px;
 }

 .maindish-container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    padding: 30px;
}

.salad-container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    padding: 30px;
}

.dessert-container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    padding: 30px;
}

 .section-1{
    margin-bottom: 20px;
 } 
 .section-2 {
     margin: 20px; 
 }
 .section-3 {
     margin: 20px; 
 }
 .section-4 {
     margin: 20px; 
 }
 .section-5 {
     margin: 20px; 
 }
 .section-6 {
     margin: 20px; 
 }
 .section-7 {
     margin: 20px; 
 }
 .section-8 {
     margin: 20px
 }

 html,body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .navbar-lists ul{
     float: right; 
 }

 a.navbar-brand{
     color: orange; 
 }
 