.nav-bar-brand {
color:#F77F00;
}

.col-1 {
    width: 0 auto; 
}

.carousel-caption p{
color: orange;
}

.carousel-caption h5{
    color: orange;
}
.col-2 a{
    color: white; 
    border: solid 10px orange; 
    padding: orange; 
    background-color: orange;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 auto; 
    
}

.col-2 h5{
    border-left: solid 10px orange; 

}
 /* Footer */
 footer {
     background-color: #F77F00; 
     color: white; 
 }

 footer a{
     color: white;
 }

 footer ul{
     list-style: none;

 }
 
 .info-container{
     background-color: white;
     border-radius: 20px;
     box-shadow: 0 0 30px rgba(0,0,0,.1);
     padding: 30px;
     margin: 40px; 
 }

 .discount-container{
     background-color: white;
     border-radius: 30px;
     box-shadow: 0 0 30px rgba(0,0,0,.1);
     padding: 30px;

 }